/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  margin-block-end: 40px;
  padding: 10px;
  min-block-size: 668px;
}

@media screen and (min-width: 768px) {
  .header {
    margin-block-end: 60px;
    padding: 20px 20px 20px 0;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--bg-line);
  border-left: 1px solid var(--bg-line);
}

@media screen and (min-width: 768px) {
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--bg-line);
  border-right: 1px solid var(--bg-line);
}

@media screen and (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
}

.header__decorations {
  position: absolute;
  width: 33px;
  height: 26px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  inset-block-start: 12px;
  inset-inline-end: 35px;
}

@media screen and (min-width: 768px) {
  .header__decorations {
    inset-block-start: 21px;
    inset-inline-end: 47px;
  }
}

.header__decorations::after {
  content: "";
  position: relative;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-block-start: -18px;
  inset-inline-start: 40px;
}

.header__theme-menu {
  justify-self: end;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: stretch;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media screen and (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 8px;
    padding-inline-start: 20px;
  }
}

.header__theme-menu-button {
  height: 26px;
  border: 1px solid transparent;
  padding: 0px 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  color: var(--title-head-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--title-head-color);
  outline: none;
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--title-head-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-head-color);
  pointer-events: none;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media screen and (max-width: 768px) {
  .header__title {
    max-width: 576px;
  }
}

@media screen and (min-width: 1024px) {
  .header__title {
    max-width: 754px;
  }
}

.article__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--heading-shadow);
}

.article__link:focus {
  border: 1px solid var(--text-color);
}

.article__link:hover {
  text-decoration: underline;
}

.title {
  color: var(--heading-color);
  font-weight: 700;
  font-size: var(--mobile-font-size);
  line-height: 95.7px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: var(--tablet-and-desktop-font-size);
  }
}

.header__text {
  max-width: 355px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@media screen and (min-width: 768px) {
  .header__text {
    justify-self: end;
    max-width: 364px;
  }
}

@media screen and (min-width: 1024px) {
  .header__text {
    justify-self: end;
    max-width: 491px;
    margin-block-start: 13px;
  }
}

.title-decor {
  color: var(--title-color);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.article__title {
  margin-block-end: 10px;
}

.article__title_photo {
  margin-block-end: 18px;
}

.article__title_five {
  margin-block-end: 20px;
}

.article__head {
  font-weight: 400;
}

.article__text {
  line-height: 23.4px;
  font-weight: 400;
  font-size: 18px;
}

.article__text_mar {
  margin-block-end: 19px;
}

.section {
  padding: 0 20px 0 20px;
  margin-block-end: 80px;
}

.section__title {
  width: 355px;
  color: var(--title-head-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  grid-column: 1;
  grid-row: 1 / 3;
}

@media screen and (min-width: 768px) {
  .section__title__what {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1024px) {
  .section__title__what {
    grid-column: 1 / 4;
    grid-row: auto;
  }
}


@media screen and (min-width: 768px) {
  .section__title {
    width: 236px;
  }
}

@media screen and (min-width: 1024px) {
  .section__title {
    width: 314px;
  }
}

@media screen and (min-width: 768px) {
  .section__why {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
  }

  .section__what {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .section__how {
    display: grid;
    grid-template-columns: 1fr 472px;
  }
}

@media screen and (min-width: 1024px) {
  .section__why {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
  }

  .section__what {
    display: grid;
    grid-template-columns: 315px 315px;
    gap: 20px;
  }

  .section__how {
    display: grid;
    grid-template-columns: 1fr 647px;
  }
}

.section__pic {
  margin-block-end: 40px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

@media screen and (min-width: 768px) {
  .section__pic {
    margin-block-end: 60px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}

.section__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 648px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media screen and (min-width: 768px) {
  .section__gallery {
    display: grid;
    gap: 20px;
    min-width: 100%;
  }

  .image__sunset {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .image__ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
    align-self: stretch;
  }

  .image__tape {
    grid-column: 1;
    grid-row: 2 / span 2;
    align-self: stretch;
  }

  .image__books {
    grid-column: 2;
    grid-row: 2;
  }

  .image__street {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
}

.section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 768px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 20px;
  }
}

.footer__title {
  display: flex;
  justify-self: center;
  align-items: center;
  color: var(--heading-color);
  font-size: var(--mobile-font-size);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__title {
    font-size: var(--tablet-and-desktop-font-size);
  }
}

@media screen and (min-width: 1024px) {
  .footer__title {
    text-shadow: 2px 2px 0 var(--accent-color);
  }
}
